<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kicks Club</title>
            <!-- fontawesome cdn -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!-- bootstrap css -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <!-- custom css -->
            <link rel = "stylesheet" href = "css/cart.css">
</head>
<body>

    <!-- card -->
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-end text-muted"><%= length %>  items</div>
                    </div>
                </div>
                <% for(var i=0; i < items.length; i++) { %>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="<%= items[i].data()['image_url'] %>"></div>
                        <div class="col">
                            <h3 hidden><%= items[i].id %></h3>
                            <div class="row"><%= items[i].data()['name'] %></div>
                            <div class="row"><%= items[i].data()['style'] %></div>
                        </div>
                        <div class="col"> <a class="updateButton" onclick="subtractQty(event)">-</a><%= items[i].data()['qty'] %><a class="updateButton" onclick="addQty(event)">+</a> </div>
                        <div class="col"><%= items[i].data()['subtotal'] %><span class="close float-end" onclick="deleteItem(event)">&#10005;</span></div>
                    </div>
                </div>
                <% } %>
                <!-- <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="images/pictures/s_L8SpaceJam.jpg"></div>
                        <div class="col">
                            <div class="row">LeBron 8</div>
                            <div class="row">Space Jam</div>
                        </div>
                        <div class="col"> <a href="#" class="updateButton">-</a><a href="#" class="border">1</a><a href="#" class="updateButton">+</a> </div>
                        <div class="col">Php 10400.00<span class="close float-end">&#10005;</span></div>
                    </div>
                </div> -->
                <!-- <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="images/pictures/s_DunkLow.jpg"></div>
                        <div class="col">
                            <div class="row">Name</div>
                            <div class="row">Style</div>
                        </div>
                        <div class="col"> <a href="#" class="updateButton">-</a><a href="#" class="border">1</a><a href="#" class="updateButton">+</a> </div>
                        <div class="col">price<span class="close float-end">&#10005;</span></div>
                    </div>
                </div> -->
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">Cart Subtotal</div>
                    <div class="col text-end" id="cart_subtotal">Php <%= total %></div>
                </div>
                <form>
                    <p>SHIPPING</p> <select id="deliveryOptions" onchange="deliveryChange(event)">
                        <option class="text-muted" selected value="1000.00">Special-Delivery- Php 1000.00 </option>
                        <option class="text-muted" value="500.00">Standard-Delivery- Php 500.00 </option>
                        <option class="text-muted" value="200.00">Discounted-Delivery- Php 200.00 </option>
                    </select>
                    <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-end" id="totalPrice">Php 10000.00</div>
                </div> <button class="btn">CHECKOUT</button>
            </div>
        </div>
    </div>
    <!-- end of card -->


    <!-- Script -->
    <%- include('../partials/script'); %> 
    <!-- end of Script -->
</body>
<script>
    window.addEventListener('load', () => {
        var cart_subtotal = document.getElementById('cart_subtotal').innerText.split("Php ")[1]
        var deliveryOptions = document.getElementById('deliveryOptions').value;
        var totalPrice = document.getElementById('totalPrice')
        totalPrice.innerText = `Php ${parseFloat(cart_subtotal) + parseFloat(deliveryOptions)}`        
    })
    function deliveryChange(e){
        var cart_subtotal = document.getElementById('cart_subtotal').innerText.split("Php ")[1]
        var deliveryOptions = document.getElementById('deliveryOptions').value;
        var totalPrice = document.getElementById('totalPrice')
        totalPrice.innerText = `Php ${parseFloat(cart_subtotal) + parseFloat(deliveryOptions)}`    
    }
    async function addQty(e){            
        var cart_id = e.target.parentElement.previousElementSibling.firstElementChild.innerText
        var addData = {
            cart_id,
            operation: 'add'
        };
        const res = await fetch('http://localhost:8080/cart/' + cart_id, { 
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(addData),
            method: 'PUT'
        });

        window.location.href = 'http://localhost:8080/cart'

    }

    async function subtractQty(e){
        var qty = e.target.parentElement.innerText.split('')[1]
        if(parseInt(qty) != 1){
            var cart_id = e.target.parentElement.previousElementSibling.firstElementChild.innerText
            var subtractData = {
                cart_id,
                operation: 'subtract'
            };
            const res = await fetch('http://localhost:8080/cart/' + cart_id, { 
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(subtractData),
                method: 'PUT'
            });

            window.location.href = 'http://localhost:8080/cart'
        }
        
    }
    async function deleteItem(e){
        var cart_id = e.target.parentElement.previousElementSibling.previousElementSibling.firstElementChild.innerText    
        const res = await fetch('http://localhost:8080/cart/' + cart_id, {            
            method: 'DELETE'
        }); 
        window.location.href = 'http://localhost:8080/cart'   
    }
</script>
</html>